#sidebar {
    position: fixed;
    width: 195px;
    top: 0;
    left: 0;
    padding: 5px;
}

#menu .ui-tabs-nav a {
    padding: 2px;
    font-size: small;
}

#toolbar .ui-button-text {
    padding: 0;
}

#toolbar button {
    margin: 0;
    padding: 0;
}

#toolbar {
    padding: 4px 10px;
}

#notebook {
    margin-left: 200px;
}

.note {
    border: 1px solid black;
    border-radius: 7px;
    margin: 10px 0;
}

.note header {
    border-radius: 7px 7px 0 0;
    padding: 4px;
}

.note header h1 {
    margin: 0;
    font-size: x-large;
}

.note header span {
    float: right;
}

.note header button {
    margin: 0;
    padding: 0;
    font-size: xx-small;
}

.note article {
    padding: 0 10px;
}

.note footer {
    background-color: lightgrey;
    border-radius: 0 0 7px 7px;
    padding: 4px;
    font-size: .7em;
}

.note footer ul {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.note footer ul li {
    display: inline;
}

.note footer .tags {
    float: right;
}

.note-edit header p {
    margin: 0;
}

.note-edit textarea {
    width: 90%;
    height: 300px;
}
