#sidebar {
    position: fixed;
    width: 195px;
    top: 0;
    left: 0;
    padding: 5px;
}

#menu .ui-tabs-nav a {
    padding: 2px;
    font-size: small;
}

#toolbar .ui-button-text {
    padding: 0;
}

#toolbar button {
    margin: 0;
    padding: 0;
}

#toolbar {
    padding: 4px 10px;
}

#notebook {
    margin-left: 200px;
}

.tnote {
    border: 1px solid black;
    border-radius: 7px;
    margin: 10px 0;
}

.tnote header {
    border-radius: 7px 7px 0 0;
    padding: 4px;
}

.tnote header h1 {
    margin: 0;
    font-size: x-large;
}

.tnote header span {
    float: right;
}

.tnote header button {
    margin: 0;
    padding: 0;
    font-size: xx-small;
}

.tnote article {
    padding: 0 10px;
}

.tnote footer {
    background-color: lightgrey;
    border-radius: 0 0 7px 7px;
    padding: 4px;
    font-size: .7em;
}

.tnote footer ul {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.tnote footer li {
    display: inline;
    padding: 0 3px;
}

.tnote-edit header p {
    margin: 0;
}

.tnote-edit textarea {
    width: 90%;
    height: 300px;
}
